.del_border {
    width: 500px;
    height: 300px;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 10px;
    background-color: #fff;
    margin: 50px auto;
}
.del_box {
    height: 100vh;
}

.input_pw {
    text-align: center;
}

#deleteForm {
    text-align: center;
    display: inline-block;
}
