.inner-page-cover p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.719) !important;
}

.seller-detail> p {
    color:black!important;
}

#submit {
    margin-top:20px;
}

.hits {
    text-align: right;
}

.summary-block-s {
    color:#005555!important;
    
}

.price {
    font-weight: bold;
}

.btn-up {
    background-color: #005555!important;
    color: white!important;
    text-decoration: none !important;
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-width: 2px;
    border-color: transparent;
    border: none !important;
    top: 0;
    position: relative;
    transition: .3s all ease;
    display: inline-block;
    font-weight: 900 !important;
    line-height: 1.5 !important;
    font-size: 1rem !important;
}

.s-info{
    font-size: 50px!important;
}


.full-heart {
    transition: all 0.3s;
    cursor: pointer;
    color: #e50b0b!important;
}

.full-heart:hover {
    transform: scale(1.3);
    transition-duration: 0.3s;
}
.emp-heart {
    transition: all 0.3s;
    cursor: pointer;
    color: #2f0909!important;
}

.emp-heart:hover {
    transform: scale(1.3);
    transition-duration: 0.3s;
}

.none {
    display: none!important;
}

.map-btn-con > button {
    
    all:unset; 
    cursor: pointer!important;
    
}

.map-btn {
    display:flex; 
    flex-direction: column;
    justify-content: center; 
    width: 100%;
}

.shop-btn
,.hosp-btn
,.walk-btn {
    text-align: center!important;

}