*{
    margin: 0;
    padding: 0;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-direction: column;
}
.tabs {
    display: flex;
    margin-top: 10px;
}
.tabs .tab {
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    width: 15em;
    height: 50px;
    cursor: pointer;
    position: relative;
}
.items {
    width: 90%;
    display: none;
    padding: 30px 50px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}
.items::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15em;
    height: 5px;
    background-color: #81bcff;
}
.items:nth-child(2)::before {
    left: 15em;
    background-color: #81bcff;
}
.items.active {
    display: inline-block;
}

.input {
    width: 50%;
}

#tab2 {
    width: 100%;
}
.list { 
    padding: 0 auto;
}